color.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="xmlns://com.williamrosenbloom.svg/10/schemas/export"
           targetNamespace="xmlns://com.williamrosenbloom.svg/10/schemas/export"
           elementFormDefault="qualified">
    <xs:include schemaLocation="number.xsd"/>
    <xs:complexType name="RGBOpaqueColor">
        <xs:attribute name="red" type="UnitDouble" use="optional" default="0.0"/>
        <xs:attribute name="green" type="UnitDouble" use="optional" default="0.0"/>
        <xs:attribute name="blue" type="UnitDouble" use="optional" default="0.0"/>
    </xs:complexType>
</xs:schema>
