geometry.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="xmlns://com.williamrosenbloom.svg/10/schemas/export"
           targetNamespace="xmlns://com.williamrosenbloom.svg/10/schemas/export"
           elementFormDefault="qualified">
    <xs:include schemaLocation="number.xsd"/>
    <xs:complexType name="Dimensions">
        <xs:attribute name="width" type="NativeDouble" use="optional" default="inherit"/>
        <xs:attribute name="height" type="NativeDouble" use="optional" default="inherit"/>
    </xs:complexType>
</xs:schema>
